@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
header{
    
    float: left;
    top:0px;
    width: 100%;
    padding:0px;
    margin: 0px;
    font-size: 3em;
    padding-bottom: 2em;
}
body{
    text-align: center;
    background-image: url("background.png");
    font-family: 'Rubik Dirt', cursive;
    

    color: white;
    background-color: black;
    padding: 1em;
}
      
p.landing-text{
    font-size: 4em;
}
footer{
    position:fixed;
    font-size: 2em;
    margin: 0px;
    bottom:0px;
    width:100%;
    text-align: left;
    padding-top: 2em;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    padding: 1%;
  }
  .active {
    background-color: #04AA6D;
  }
  a{
    color: white;
    text-decoration: none;
    transition: filter .5s;
    transition-property: filter;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  div.portfolio-case{
    display:inline-block;
    

  }
  div.header-text{
    float:left;
  }
  p.about-text{
    font-size: 2em;
  }
  p.contact-text{
    font-size: 2.25em;
  }
  div.portfolio-case{
    display: inline-block;
    width: 100%
  }
 
  img.dh-img{
    width:33%;
    opacity: .9;
    border-radius: 25px;
   
  }
  img.code-img{
    width:33%;
    opacity: .9;
    border-radius: 25px;
  }
 